body {
	background-color: rgb(255, 99, 125) !important;
}

* {
	margin: 0;
	padding: 0;
}

#pookalamCanvas {
	display: block;
	position: relative;
	z-index: 2;
	margin: 0 auto;
    background-color: brown;
}
canvas {
    z-index: 2;
}

.onamBg {
    background-image: url(onambg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 200vw;
    height: 100vh;
	position: relative;
	z-index: 3;

background: radial-gradient(circle, #951e00, #feb47b);
}
h1{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 300px;
    height: 100px;

    font-weight: bolder;
    border-radius: 70px;
    background-color: rgb(68, 29, 222);
    border: slategrey solid;
    transform: translate(-50%, -50%);
    color: rgb(121, 0, 0);
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

